<!-- <header class="header">
    <div class="header_element">
        <span class="px-3"><a routerLink="/profile"><font color="white">PROFILE</font></a></span>
        <span class="px-3"><a routerLink="/report"><font color="white">REPORT</font></a></span>
        <span class="px-3" (click)="logout()">LOG OUT</span>
    </div>
</header> -->


<div>

    <!-- <div class="container-fluild heading"> -->
    <h2>WELCOME TO OUR GAME ZONE</h2>
    <!-- <button (click)="logout()" class="btn btn-primary logout_button">log out</button> -->
    <!-- </div><br><br> -->

    <!-- <div class="container">
    <div class="row">

        <div class="border bounce">
            <a routerLink="/card"><img src="./assets/image/back.jpg" height="300" width="300"></a><br><br>
            <p style="text-align:center"><a routerLink="/card">
                    <font color="black">PLAY CARDS</font>
                </a></p>
        </div>
        <div class="border bounce">
            <a routerLink="/tic-toe"><img src="./assets/tic-toe.png" height="300" width="300"></a><br><br>
            <p style="text-align:center"><a routerLink="/tic-toe">
                    <font color="black">PLAY TIC-TAC-TOE</font>
                </a></p>
        </div>
        <div class="border bounce">
            <a routerLink="/chess"><img src="./assets/chess.jpg" height="300" width="300"></a><br><br>
            <p style="text-align:center"><a routerLink="/chess">
                    <font color="black">PLAY RANDOM NUMBER</font>
                </a></p>
        </div>

    </div>

</div> -->

    <!-- <div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div>
                    <img src="./assets/chess.jpg" height="200" width="348"><br><br>
                </div>
                <div>
                    <p style="text-align:center"><a routerLink="/chess">
                            <font color="black">PLAY CHESS</font>
                        </a></p>
                </div>
            </div>
        </div>
    </div>
</div> -->


    <div class="container">
        <div class="row">
            <div class="column">
                <div class="border">
                    <a routerLink="/card"><img src="./assets/image/back.jpg" width="100%"></a><br><br>
                    <p style="text-align:center"><a routerLink="/card">
                            <font color="black">PLAY CARDS</font>
                        </a></p>
                </div>
            </div>
            <div class="column">
                <div class="border">
                    <a routerLink="/tic-toe"><img src="./assets/tic-toe.png" width="100%"></a><br><br>
                    <p style="text-align:center"><a routerLink="/tic-toe">
                            <font color="black">PLAY TIC-TAC-TOE</font>
                        </a></p>
                </div>
            </div>
            <div class="column">
                <div class="border">
                    <a routerLink="/chess"><img src="./assets/numbergame.jpg" width="100%"></a><br><br>
                    <p style="text-align:center"><a routerLink="/chess">
                            <font color="black">PLAY RANDOM NUMBER</font>
                        </a></p>
                </div>
            </div>
        </div>

    </div>
</div>