


.header {
  background:rgba(0, 0,0, 0.2);
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
 .header-social-media {
  align-items: center;
  display: flex;
  padding-left: 20px;
}
 .header-social-media .fab {
  font-size: 20px;
  margin-right: 22px;
  color: #0397b1;
}
 .header-social-media a {
  text-decoration: none;
}
.header_element {
  float: right;
  color: white;
}
li {
  padding: 4px;
  margin-left: 10px;
}
.user-icon{
  color:white;
}
.dropdown-toggle::after{
  color: white;
}
#user_selectionbox {
  cursor: pointer;
}
.navbar-toggler-icon.close {
  background-color: black;
}
.header-lining {
  padding: 15px 30px;
}
.buttons {
  display: flex;
}
.buttons .btn-outline-primary {
  border: 1px solid black;
}
.buttons .header-sign-in {
  margin-right: 20px;
}
.buttons .btn{
  padding: 5px 30px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: -0.36px;
  color: #0b4c62;
  background-color: unset;
}
.logo_img{
  margin-left: 30px;
}
.navbar-toggler-icon {
  width: 35px;
  height: 3px;
  background-color: black;
  display: block;
  margin-bottom: 2px;
}
.navbar-nav .nav-item .nav-link {
  color:white;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 20px;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: -0.36px;
}
.header-btn .btn:focus {
  box-shadow: none;
  border: none;

}
.top-header .btn:focus{
  box-shadow: none;
}
.top-header .btn:hover{
  box-shadow: none;
  background-color: #0b4c62;
  color: white;
}

.top-header .btn:hover a{
  color: white;

}
.navbar-toggler:focus {
  box-shadow: none;
}
.dropdown-menu{
  right: 10%;
  left: auto;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  border-radius: 10px;

}
.dropdown-menu,
.dropdown-menu a{
  color: white;
}
         


.dropdown-menu:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

a{
  color:#0b4c62 ;
}
a:hover{
  text-decoration: none;
  color: white;
}
@media screen and (max-width:1157px) {
  .navbar-nav .nav-item .nav-link{
    padding: 0px 10px;
  }
}
@media screen and (max-width:991px) {}
@media screen and (max-width:767px) {
  .logo_img{
    width: 80%;
  }
 
}
@media screen and (max-width:480px) {
  .navbar-brand{
    width: 60%;
  }
  .buttons .btn{
    padding: 4px 22px;
}
.header-social-media .fab{
  font-size: 16px;
  margin-right: 15px;
}
}
