<div class="container-fluid">
    <div class="playpage">
      <div class="playvideo">
        <h3>How to play MemoryCard Game?</h3>
      <video width="100%" height="90%" controls>
        <source src="/assets/memorydemo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="playvideo">
        <h3>How to play MemoryCard Game?</h3>
      <video width="100%" height="90%" controls>
        <source src="/assets/ticdemo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="playvideo">
        <h3>How to play whoke-a-mole Game?</h3>
      <video width="100%" height="90%" controls>
        <source src="/assets/whackdemo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="playvideo">
        <h3>How to play connect 4 Game?</h3>
      <video width="100%" height="90%" controls>
        <source src="/assets/connectdemo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="playvideo">
        <h3>How to play random number Game?</h3>
      <video width="100%" height="90%" controls>
        <source src="/assets/rendomdemo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="playvideo">
      <h3>How to play Tower of Hanoi Game?</h3>
    <video width="100%" height="90%" controls>
      <source src="/assets/tower.mp4" type="video/mp4">
    </video>
  </div>
    </div>
  </div>