<div class="container-fluild">
    <div class="footer-bgimg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div style="color:white;">
                        <img src="./assets/logo.png.webp" style="margin-bottom:35px;">
                        <p>Play fusion is an online gaming platform that gives you access to thousands of online games,
                            ranging from single to complex, to Test, Buy, Play and have fun with friends and family.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 ">
                    <div class="footer-widget">
                        <h4 class="footer-title">Latest Posts</h4>
                        <div class="footer">
                            <img src="./assets/image/back.jpg" class="footer-img">
                        </div>
                        <div class="footer-text">
                            <div class="date">
                                June 21,2018
                            </div>
                            <p class="img-description">Card game is most popular game for youngers.</p>
                            <p class="img-description">By Admin</p>
                        </div>
                        <div class="footer">
                            <img src="./assets/tic-toe1.png" class="footer-img">
                        </div>
                        <div class="footer-text">
                            <div class="date">
                                June 21,2018
                            </div>
                            <p class="img-description">This classic game contributes to kids' skills in problem solving
                            </p>
                            <p class="img-description">By Admin</p>
                        </div>
                        <div class="footer">
                            <img src="./assets/number.webp" class="footer-img">
                        </div>
                        <div class="footer-text">
                            <div class="date">
                                June 21,2018
                            </div>
                            <p class="img-description">Number game is increse childs memory. </p>
                            <p class="img-description">By Admin</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12  col-md-12 col-lg-4 ">
                    <div class="footer-widget">
                        <h4 class="footer-title">Top Comments</h4>
                        <div class="footer">
                            <img src="./assets/author1.jpg.webp" class="author-img">
                        </div>
                        <div class="footer-text">
                            <p class="img-description"><span class="author-description">Andres Iniesta</span> Life is
                                more fun
                                if you play games.</p>
                            <div class="date">
                                June 21,2018
                            </div>
                        </div>
                        <!-- <div class="footer-text">
                            <div class="date">
                                June 21,2018
                            </div>

                        </div> -->
                        <div class="footer">
                            <img src="./assets/author-2.jpg.webp" class="author-img">
                        </div>
                        <div class="footer-text">
                            <p class="img-description"><span class="author-description">Lionel Messi</span> Play every
                                game
                                as it is last one.</p>
                            <div class="date">
                                June 21,2018
                            </div>

                        </div>
                        <div class="footer">
                            <img src="./assets/author-3.jpg.webp" class="author-img">
                        </div>
                        <div class="footer-text">
                            <p class="img-description"><span class="author-description">Andrea Pirlo</span> play to win
                                but
                                enjoy the fun.</p>
                            <div class="date">
                                June 21,2018
                            </div>

                        </div>
                        <div class="footer">
                            <img src="./assets/author-4.jpg.webp" class="author-img">
                        </div>
                        <div class="footer-text">
                            <p class="img-description"><span class="author-description">Sergio Aguero</span> All these
                                are
                                old but childhood memories</p>
                            <div class="date">
                                June 21,2018
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <div class="container">
            <p class="footer-gametext">Thank You!! For visit our website.</p>
            <div class="footer-pagelink">
                <span class="px-3"><a routerLink="/home">
                        <font color="grey">Home</font>
                    </a></span>
                <span class="px-3"><a routerLink="/games">
                        <font color="grey">Games</font>
                    </a></span>
                <span class="px-3"><a routerLink="/contact">
                        <font color="grey">Contact</font>
                    </a></span>
            </div>
        </div>
    </div>
</div>