<footer>
    <div class="subscription">
        <div class="sub-part">
            <h3>Find Out About New Games!</h3>
            <p>Subscription to get updated on future game releases</p>
            <div class="s-button">
                <input type="text" placeholder="Enter Your Email">
                <button class="btnsub">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="top">

        <div class="center">
            <div class="navigation">
                <h2>Navigation</h2>
                <ul>
                    <li>Home</li>
                    <li>How to play!</li>
                    <li>Games</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="help-center">
                <h2>Help Center</h2>
                <ul>
                    <li>Help center</li>
                    <li>FAQ</li>
                    <li>Quick Start Guide</li>
                    <li>Privacy Policy</li>
                    <li>Sefty & Security</li>
                </ul>
            </div>
            <div class="legel-info">
                <h2>Legel Info</h2>
                <ul>
                    <li>Security </li>
                    <li>Terms of Service</li>
                    <li>Become Affilate</li>
                    <li>Complaints Policy</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        &copy; 2023 Game Warrior.All rights reserved.Privacy Policy
    </div>
</footer>