<div class="container-fluild">
    <button><a routerLink="/home">
      <font color="black">BACK</font>
    </a></button>
<div class="container">
    <h1 class="title">Rock, Paper, Scissors Game</h1>
    <div *ngIf="!gameStarted">
      <p class="instruction">Choose the number of rounds:</p>
      <input type="number" [(ngModel)]="totalRounds" min="1">
      <button class="btn start-game" (click)="startGame()">Start Game</button>
    </div>
    <div *ngIf="gameStarted">
      <div class="options">
        <button class="btn rock" (click)="play('rock')">ROCK</button>
        <button class="btn paper" (click)="play('paper')">Paper</button>
        <button class="btn scissors" (click)="play('scissors')">Scissors</button>
      </div>
      <div *ngIf="result !== null" class="result">
        <p class="result-message">{{ resultMessage }}</p>
        <p class="round">Round {{ currentRound }} / {{ totalRounds }}</p>
        <p class="">you Choose:{{ playerMove }}</p>
        <p>Computer choose:{{computerMove }}</p>
        <p class="score">Score: You {{ playerScore }} - Computer {{ computerScore }}</p>
        <button class="btn play-again" (click)="resetGame()">Next Round</button>
      </div>
    </div>
  </div>
  </div>