<div class="container-fluild">
    <div class="home-main">
        <div class="home-lining">
            <div class="title">
                <p>Best game out there</p>
            </div>
            <div class="content">
                <p>Are you ready to embark on an unforgettable adventure and shape the fate of the realms? The journey
                    begins here. Immerse yourself in a world of adventure, strategy, and epic storytelling like never
                    before.</p>
            </div>
            <button class="btn" routerLink="/games">read more</button>
        </div>
    </div>
</div>
<div class="container-fluild">
    <div class="news-header ">
        <div class="news-title">Latest News</div>
        <div class="news-ticker">
            <div class="marquee-wrapper">
                <div>
                    <div class="news-ticker-contant">
                        <div class="news-item">
                            <span class="New">New</span>card games is give more entertiment.
                        </div>
                        <div class="news-item">
                            <span class="strategy">strategy</span>Tic-Toc-Toe game is given childhood memories.

                        </div>
                        <div class="news-item">
                            <span class="Latest">Latest</span>A game about additions for boys and girls aged 8 to 14
                            years. Without advertising and free.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="home">


    <div class="trailer">
        <h1>Game Trailer</h1>
        <div class="trailer-video">
            <img src="/assets/back_img.jpg" alt="">
            <!-- <video autoplay muted loop id="bg-video" width="100vw">
                        <source src="assets\mylivewallpapers-com-Sasuke-Uchiha-Sharingan-4K.mp4" type="video/mp4"> 
                    </video> -->
        </div>
        <div class="content">
            <h3>We Focus On Quality Entertainment</h3>
            <p>Our main focus is to provide the best entertainment possible for our players.We
                place key emphasis on creating games that are of a high quality in every way
                possible.This means that we ensure that all our games themes are engaging.our
                features unique and captivating and our art,stunning and precise!We don't
                cut corners and do whatever is necessary to offer a memorable gameplay exprience.
            </p>
            <button class="read-more" routerLink="/playpage">Learn More</button>
        </div>

    </div>
</div>

<div class="feedback-lining">
    <h1>Feedback</h1>
    <div class="feedback">
        <div class="card">
            <div class="card-img">
                <img src="/assets/author-4.jpg.webp" alt="">
            </div>
            <div class="card-body">
                <h3>Denis Pakhaliuk</h3>
                <p>
                    I recently had the pleasure of diving into the captivating world of "Game Warrior" and I must say,
                    it exceeded all my expectations. Thank you for creating such an immersive gaming experience, and I look forward to seeing how the website evolves in the future.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="/assets/author-2.jpg.webp" alt="">
            </div>
            <div class="card-body">
                <h3>Nicole Caba</h3>
                <p> Game Warrior provides a compelling overview of the game and its features, I would love to see more interactive elements that showcase gameplay footage or highlight key moments from the storyline.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="/assets/author-3.jpg.webp" alt="">
            </div>
            <div class="card-body">
                <h3>Deena Fox</h3>
                <p>I thoroughly enjoyed my experience on your game website and believe it effectively conveys the excitement and appeal of the game. I believe the website could become an even more valuable resource for both new and existing players.</p>
            </div>
        </div>

    </div>
</div>