body {
    margin: 0;
    padding: 0;
}



/* .home .container #bg-video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
} */




.read-more {
    background-color: #2b1961;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: none;
 
}

.home .row .trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.home .row .trailer-video img{
    min-width: 300px;
    width: 100vw;
    max-width: 800px;
} 

.home .trailer .content {
   
   width: 60%;
    font-size: 20px;
    margin: auto;
    padding: 10px 0;
}
.home .row .top-game {
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("/assets/back_img.jpg");
    width: 98vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.home .row .top-game .content{
    padding: 30px;
}
.home .row .range{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.home .row .range .card{
    background: #392378 ;
    color: white;
    display: flex;
    padding: 10px;
   
}
.home .row .range .card .card-body{
    padding: 10px;
}
.home .row .range .card img{
    border-radius: 50%;
}
.home .row .second{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.home .row .second .feedback{
    display: flex;
    justify-content: center;
   
}
.home .row .second .feedback .card{
    background-color: rgb(56, 15, 95);
    margin: 20px;
    padding: 20px ;
    transition: 0.2s;
    color: white;

}
.home .row .second .feedback .card:hover{
    /* box-shadow: 0 0 10px black; */
    transform: translateY(-5px);
}
.home .row .second .feedback img{
    border-radius: 50%;
    height: 200px;
}