<div class="container-fluild">
    <div class="home-main">
        <div class="home-lining">
            <div class="title">
                <p>Best game out there</p>
            </div>
            <div class="content">
                <p>Embark on epic journeys, solve mind-bending puzzles, and experience the rush of intense battles. Our website is more than just a platform – it's a community, a hub for gamers like you to connect, share, and revel in the joy of gaming.</p>
            </div>
            <button class="btn">read more</button>
        </div>
    </div>
</div>
<div class="container-fluild">
    <div class="news-header ">
        <div class="news-title">Latest News</div>
        <div class="news-ticker">
            <div class="marquee-wrapper">
                <div>
                    <div class="news-ticker-contant">
                        <div class="news-item">
                            <span class="New">New</span>card games is give more entertiment.
                        </div>
                        <div class="news-item">
                            <span class="strategy">strategy</span>Tic-Toc-Toe game is given childhood memories.

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="home">

        <div class="row">
            <div class="trailer">
                <h1>Game Trailer</h1>
                <div class="trailer-video">
                    <img src="/assets/back_img.jpg" alt="">
                    <!-- <video autoplay muted loop id="bg-video" width="100vw">
                            <source src="assets\mylivewallpapers-com-Sasuke-Uchiha-Sharingan-4K.mp4" type="video/mp4"> 
                        </video> -->
                </div>
                <div class="content">
                    <h3>We Focus On Quality Entertainment</h3>
                    <p>Our main focus is to provide the best entertainment possible for our players.We
                        place key emphasis on creating games that are of a high quality in every way
                        possible.This means that we ensure that all our games themes are engaging.our
                        features unique and captivating and our art,stunning and precise!We don't
                        cut corners and do whatever is necessary to offer a memorable gameplay exprience.
                    </p>
                    <button class="read-more">Learn More</button>
                </div>
            </div>
        </div>
    </div>

<!-- <div class="bg_img">
    <div class="container">
        <div class="recentgame-title">
            <span class="cata New">New</span>
            <h3>Recent Games</h3>
        </div>
        <div class="row">
            <div class="top-game">
                <div class="content">
                    <h2>GAME STUDIOS</h2>
                    <h1>ENGAGING THOUGH PLAY</h1>
                    <p>Our games entertain millions of people everyday,everywere</p>
                    <button class="read-more">Play Now</button>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="range">
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>GAMES</h1>
                    </div>
                    </div>
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>PLAYERS</h1>
                    </div>
                    </div>
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>CHAMPION</h1>
                    </div>
                    </div>
                </div>
            </div> -->
        <div class="row">
            <div class="second">
                <h1>Feedback</h1>
                <p>We provide our player to solid apperance,better functionality,mind Games and good overview. </p>
                <div class="feedback">
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/user-3.png" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Denis Pakhaliuk</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/person2.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Nicole Caba</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/person3.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Deena Fox</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>

                <div class="border">
                    <a routerLink="/card"><img src="./assets/image/back.jpg" width="100%"></a>
                    <div class="game-des">
                        <h4>Random Crads Casino</h4><br>
                        <p>A card game is any game using playing cards as the primary device with which the game is
                            played, be they traditional or game-specifi
                        </p>
                        <p>3 Comments</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border">
                    <a routerLink="/tic-toe"><img src="./assets/tic-toe.png" width="100%"></a>
                    <div class="game-des">
                        <h4>Fun With Tic-Tac-Toe</h4><br>
                        <p>Tic-Tac-Toe is a simple and fun game for 2 players, X and O. It is played on a 3x3 grid.Did
                            you know that tic-tac-toe has been around for over 3000 years!
                        </p>
                        <p>3 Comments</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="border">
                    <a routerLink="/chess"><img src="./assets/numbers.png" width="100%"></a>
                    <div class="game-des">
                        <h4>Educational Game For Child</h4><br>
                        <p>All of our number games are completely free to play online! No levels are hidden behind
                            paywalls here at GamePix.
                        </p>
                        <p>3 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="home">


    <div class="trailer">
        <h1>Game Trailer</h1>
        <div class="trailer-video">
            <img src="/assets/back_img.jpg" alt="">
            <!-- <video autoplay muted loop id="bg-video" width="100vw">
                        <source src="assets\mylivewallpapers-com-Sasuke-Uchiha-Sharingan-4K.mp4" type="video/mp4"> 
                    </video> -->
        </div>
        <div class="content">
            <h3>We Focus On Quality Entertainment</h3>
            <p>Our main focus is to provide the best entertainment possible for our players.We
                place key emphasis on creating games that are of a high quality in every way
                possible.This means that we ensure that all our games themes are engaging.our
                features unique and captivating and our art,stunning and precise!We don't
                cut corners and do whatever is necessary to offer a memorable gameplay exprience.
            </p>
            <button class="read-more">Learn More</button>
        </div>

    </div>
</div>
    
    <div class="feedback-lining">
            <h1>Feedback</h1>
            <div class="feedback">
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/author-4.jpg.webp" alt="">
                    </div>
                    <div class="card-body">
                        <h3>Denis Pakhaliuk</h3>
                        <p>The diverse collection of games is a treasure trove for every type of gamer, and the user-friendly interface makes navigation a breeze.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/author-2.jpg.webp" alt="">
                    </div>
                    <div class="card-body">
                        <h3>Nicole Caba</h3>
                        <p>The latest news updates keep me in the loop about upcoming releases, ensuring I never miss out on the gaming world's excitement.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/assets/author-3.jpg.webp" alt="">
                    </div>
                    <div class="card-body">
                        <h3>Deena Fox</h3>
                        <p>The website's intuitive design makes it easy to find and enjoy new titles .it's a digital sanctuary for gamers seeking excellence. </p>
                    </div>
                </div>

            </div>
    </div>
