<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="home">

        <div class="row">
            <div class="trailer">
                <h1>Game Trailer</h1>
                <div class="trailer-video">
                    <img src="/assets/back_img.jpg" alt="">
                    <!-- <video autoplay muted loop id="bg-video" width="100vw">
                            <source src="assets\mylivewallpapers-com-Sasuke-Uchiha-Sharingan-4K.mp4" type="video/mp4"> 
                        </video> -->
                </div>
                <div class="content">
                    <h3>We Focus On Quality Entertainment</h3>
                    <p>Our main focus is to provide the best entertainment possible for our players.We
                        place key emphasis on creating games that are of a high quality in every way
                        possible.This means that we ensure that all our games themes are engaging.our
                        features unique and captivating and our art,stunning and precise!We don't
                        cut corners and do whatever is necessary to offer a memorable gameplay exprience.
                    </p>
                    <button class="read-more">Learn More</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="top-game">
                <div class="content">
                    <h2>GAME STUDIOS</h2>
                    <h1>ENGAGING THOUGH PLAY</h1>
                    <p>Our games entertain millions of people everyday,everywere</p>
                    <button class="read-more">Play Now</button>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                <div class="range">
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>GAMES</h1>
                    </div>
                    </div>
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>PLAYERS</h1>
                    </div>
                    </div>
                    <div class="card">
                        <img src="/assets/pattern.png.webp" alt="">
                        <div class="card-body">
                        <h3 id="counter">0</h3>
                        <h1>CHAMPION</h1>
                    </div>
                    </div>
                </div>
            </div> -->
        <div class="row">
            <div class="second">
                <h1>Feedback</h1>
                <p>We provide our player to solid apperance,better functionality,mind Games and good overview. </p>
                <div class="feedback">
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/user-3.png" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Denis Pakhaliuk</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/person2.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Nicole Caba</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/assets/person3.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3>Deena Fox</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat perspiciatis
                                vero neque voluptatibus provident ut labore veritatis. Perferendis, at.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>