<div class="mid">
  <p class="title">SUBSCRIBE NOW</p>
  <div class="container">

    <div class="otp-form">
      <form #myForm="ngForm">
        <div>
          <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Enter Your email" required>
          <div class="alt"
            *ngIf="myForm.controls['email'].touched && myForm.controls['email'].dirty && myForm.controls['email'].errors?.['required']">
           <p> *Email is required.</p>
          </div>
          <div class="alt" *ngIf="!myForm.controls['email'].errors?.['required'] && !validateEmail(email)">
            <p>*Invalid email format.</p>
          </div>
          <div class="btnotp">
            <button (click)="sendOTP()" class="btn">Send OTP</button>
          </div>
        </div>
        <div *ngIf="otpSent">
          <input type="text" [(ngModel)]="otpCode" name="otpCode" placeholder="Enter OTP">
          <div class="btnverify">
            <button (click)="verifyOTP()" class="btn">Verify OTP</button>
          </div>
        </div>
        <div class="vmsg" *ngIf="verificationStatus"><p>{{ verificationStatus }}</p></div>
        <div>
          <button (click)="clickme()" class="btn">next</button>
        </div>
      </form>
    </div>
  </div>
</div>