<div class="container-fluid">
  <button class="back-btn" routerLink="/games"> <i class='fas fa-arrow-circle-left'></i></button>


<div class="game-container">
    <h1>Whack-a-Mole Game</h1>
    
    <div class="game-board">
      <div *ngFor="let mole of moles; let i = index" class="mole-hole" (click)="whack(i)">
        <div *ngIf="mole" class="mole"></div>
      </div>
    </div>
    
    <div class="info">
      <p>Score: {{ score }}</p>
      <p>Target Score: {{ targetScore }}</p>
      <p *ngIf="!gameOver">Time left: {{ timeLeft }}s</p>
      <button (click)="restart()" [disabled]="!gameOver">Restart</button>
    </div>
  </div>
</div>