<!-- <div class="container-fluild">
  <div class="row">
    <button><a routerLink="/main">
        <font color="black">BACK</font>
      </a></button><br><br>
    <button (click)="reset()">RESET</button> -->
<!-- <div class="col-12">
      <div style="text-align:center;">
        <div class="box" *ngFor="let no of random_value,let i=index">
          <img [src]="no" width="100%" height="150" *ngIf="no">
          <div style="height: 150px; width: 100%; border: 1px solid;" *ngIf="!no"></div>
        </div>
        <p>{{winner}}</p>
      </div>
    </div> -->
<!-- </div> -->
<div class="container mt-2">
  <div class="background_image" #backgroundImage (window:resize)="backgroundImageChange()">
<!-- <div class="container">
  <div class="background_image"> -->
    <div class="row">
      <button>
        <a routerLink="/home">
          <font color="white">BACK</font>
        </a>
      </button>
      <button (click)="reset()">RESET</button>
      <div class="card-wrapper">
        <div class="cards">
          <div class="randomcard" *ngFor="let no of random_value,let i=index;" class="{{i==2?'margin':''}}">
            <img [src]="no" class="card_img" *ngIf="no">
            <div class="norepeated_img" *ngIf="!no"></div>
          </div>
          <p class="mb-0">{{winner}}</p>
        </div>
      </div>
    </div>
  </div>
</div>