
<div class="container-fluid main-card ">
  <div class="background_image" #backgroundImage (window:resize)="backgroundImageChange()">
    <div class="row">
      <div class="btns">
        <button (click)="reset()">RESET</button>
      </div>
      <button class="back-btn mr-5">
        <a routerLink="/games">
          <i class='fas fa-arrow-circle-left'></i>
        </a>
      </button>
      <div class="card-wrapper">
        <div class="cards">
          <div class="randomcard" *ngFor="let no of random_value,let i=index;" class="{{i==2?'margin':''}}">
            <img [src]="no" class="card_img" *ngIf="no">
            <div class="norepeated_img" *ngIf="!no"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>