
<div class="bg-img">
                <div class="container"><br>
                    <h1 class="title">LOGIN</h1>
                   
                        <input class="form-control" type="text" value="" [(ngModel)]="username"
                            placeholder="enter your username" required>

                        <input class="form-control" type="password" value="" [(ngModel)]="password"
                            placeholder="enter your password" required>
                        <button type="button" class="btn" (click)="check()">
                           LOGIN
                        </button>
                        <a routerLink="/res"> create new account?</a>
                  
                </div>
</div>
