<!-- <div class="container">
    <div class="row box">

        <div class="col-6">
            <div>
                <img src="./assets/login.webp" width="100%" height="400">
            </div>
        </div>
      
        <div class="col-6 borders">
            <div class="form">
                <h4>LOGIN</h4>
               
                <input class="form-control" type="text" value="" [(ngModel)]="username"
                    placeholder="enter your username"><br>
                
                <input class="form-control" type="password" value="" [(ngModel)]="password"
                    placeholder="enter your password"><br>
                <button type="button" class="btn btn-success" (click)="check()">
                    <font color="white">LOGIN</font>
                </button><br>
                <span><a routerLink="/"> create new account?</a></span>
               
            </div>
        </div>
    </div>
</div>
 -->


<!-- <div class="container"> -->
<!-- <br><br><br> -->
<div class="bg-img">
   
        <div style="text-align:center;">
            <div class="row"  style="position: relative;;">

                <div class="container"><br>

                    <h1>LOGIN</h1>
                   
                        <input class="form-control" type="text" value="" [(ngModel)]="username"
                            placeholder="enter your username" required><br>

                        <input class="form-control" type="password" value="" [(ngModel)]="password"
                            placeholder="enter your password" required><br>
                        <button type="button" class="btn btn-login" (click)="check()">
                            <font color="white">LOGIN</font>
                        </button><br><br>
                        <span><a routerLink="/res"> create new account?</a></span><br>
                  
                </div>
            </div>
        </div>
    
</div>
<!-- </div> -->