
<section class="contact">
    <div class="container contact-lining">
        <div class="header">
            <p class="title">GET IN TOUCH</p>
            <p class="content">
                If you have any questions or general enquiry,we'are here to help you. Complete the form below and we will get back to  you as soon as we can.
            </p>
            <div class="form">
                    <div>
                        <p>Enter Your name:</p>
                        <input type="text" class="form-control"  placeholder="Name" [(ngModel)]="name">
                    </div>
                    <div>
                        <p>Enter Your email:</p>
                        <input type="text" class="form-control"  placeholder="Email" [(ngModel)]="email">
                    </div>
                    <div>
                        <p>Enter Your subject:</p>
                        <input type="text" class="form-control"  placeholder="Subject" [(ngModel)]="subject">
                    </div>
                    <div>
                        <p>Enter Your messege:</p>
                        <input class="textarea-message form-control" placeholder="Message" [(ngModel)]="message">
                    </div>
                    <div>
                        <input type="checkbox" id="agree"  value="yes">
                         <label for="agree"> I have agree to recieve email and updates</label><br>
                         <button (click)="submit_review()" class="btn">Send Message</button>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="faq">
    <div class="faq-lining">
        <div>
        <p class="faq-title">FAQ</p>
        <p class="content">How Can We Help YOU?</p>
        </div> 
    </div>
</section>
    <div class="accordtion">
      <div class="accordtion-body">
        <button class="btn  accordion-btn" type="button" data-toggle="collapse" data-target="#que-first" aria-expanded="false" aria-controls="que-first">
            How can i register?
            <i class="fa fa-question-circle"></i>
        </button>
      
        <div class="collapse" id="que-first">
          <div class="card card-body">
            Fill out the registration form with the required information.Review and accept the terms of service or terms and conditions.After completing all required fields, submit the registration form.
          </div>
        </div>
      </div>
      
      <div class="accordtion-body">
        <button class="btn  accordion-btn" type="button" data-toggle="collapse" data-target="#que-second" aria-expanded="false" aria-controls="que-first">
            what is the website about?
            <i class="fa fa-question-circle"></i>
        </button>
      
        <div class="collapse" id="que-second">
          <div class="card card-body">
           it is a collection of games across various genres, including action, adventure, puzzle, sports, and more. Users can play these games directly on the our website without the need for downloads or installations.
          </div>
        </div>
      </div>
      
      <div class="accordtion-body">
        <button class="btn  accordion-btn" type="button" data-toggle="collapse" data-target="#que-three" aria-expanded="false" aria-controls="que-first">
            is there any age resytriction?
            <i class="fa fa-question-circle"></i>
        </button>
      
        <div class="collapse" id="que-three">
          <div class="card card-body">
            To ensure a safe and age-appropriate gaming experience,there are age restrication only 5 year up person can play its game
          </div>
        </div>
      </div>

      <div class="accordtion-body">
        <button class="btn  accordion-btn" type="button" data-toggle="collapse" data-target="#que-four" aria-expanded="false" aria-controls="que-first">
            What about games update?
            <i class="fa fa-question-circle"></i>
        </button>
      
        <div class="collapse" id="que-four">
          <div class="card card-body">
            Game updates typically refer to new releases of game content, bug fixes, improvements, and additional features provided by game developers post-launch. 
          </div>
        </div>
      </div>

      <div class="accordtion-body">
        <button class="btn  accordion-btn" type="button" data-toggle="collapse" data-target="#que-five" aria-expanded="false" aria-controls="que-first">
            Are all games on websites free to play?
            <i class="fa fa-question-circle"></i>
        </button>
      
        <div class="collapse" id="que-five">
          <div class="card card-body">
            we offer a mix of free-to-play games as well as premium or paid games. you can play online without paying
          </div>
        </div>
      </div>
     </div>
        
    
