<div class="container-fluild">
    <div class="news-header ">
        <div class="news-title">Latest News</div>
        <div class="news-ticker">
            <div class="marquee-wrapper">
                <div>
                    <div class="news-ticker-contant">
                        <div class="news-item">
                            <span class="New">New</span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div class="news-item">
                            <span class="strategy">strategy</span>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </div>
                        <div class="news-item">
                            <span class="Latest">Latest</span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluild">
    <div class="contact_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="bg-imgtext">
                        <h1 class="">Contact Us</h1>
                        <p>The Downtown Emergency Service Center (DESC) is a non-profit organization in Seattle,
                            Washington providing services for that city's homeless population.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.0303439841753!2d72.86261029195565!3d21.21433370823299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f1aad111be5%3A0xa23c37e381faa184!2sShop%20No.M-13%2C%20Roman%20Point%20Building%2C%20Varachha%20Main%20Rd%2C%20Navi%20Shakti%20Vijay%20Society%2C%20Vitthal%20Nagar%20Society%2C%20Hirabaugh%2C%20Surat%2C%20Gujarat%20395006!5e0!3m2!1sen!2sin!4v1689857111270!5m2!1sen!2sin"
            width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <h4 class="mb-45px;">Contact Us</h4>
            <p>The Downtown Emergency Service Center (DESC) is a non-profit organization in Seattle, Washington
                providing services for that city's homeless population.</p>
        </div>
        <div class="col-md-12 col-lg-8">
            <h4 class="mb-45px;">Leave a Reply</h4>
            <!-- <form> -->
            <div class="row">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <input type="text" placeholder="Name" [(ngModel)]="name">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <input type="text" placeholder="Email" [(ngModel)]="email">
                    </div>
                    <div class="col-12">
                        <input type="text" placeholder="Subject" [(ngModel)]="subject">
                    </div>
                    <div class="col-12">
                        <input class="textarea-message" placeholder="Message" [(ngModel)]="message">
                        <button (click)="submit_review()">Send</button>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<div class="section"></div>