

.contact{
    background-image: url(/assets/3513217.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height:auto;
}
.contact-lining{
    padding-top: 190px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.header{
    width: 50%;
}
.title{
    font-family:'Open Sans';
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    transition: .5s;
    
}
.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .title:hover::before {
    transform: scale(1.1);
  }
  
  .title:hover {
    color: #ffe310; 
    text-shadow: 0 0 10px #ffee10;
  }

.content{
    color: white;
    font-size: 15px;
}
.form{
    text-align: left;
    background-color: #363da4;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}
.form p{
    color: white;
    margin-bottom: 10px;
}
.form-control{
    margin-bottom: 18px;
    background-color:#363da4 ;
    color: white;
    border-radius: 80px;
    border: 3px solid #4085cb;
}
.textarea-message{
    border-radius: 13px;
    height: 100px;
}
.form-control::placeholder{
    color: rgb(215, 203, 203);
    font-weight: 100;
}
label{
    padding-left: 5px;
    color: white;
}
.contact-lining .btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #200b5094;
    padding: 10px 20px;
    border-radius: 35px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-top: 10px;
}
.contact-lining .btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.faq{
    background-image: url(/assets/banner.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: auto;
    box-shadow: 8px -19px 45px #7613a1;
    
}
.faq-lining{
    text-align: center;
    /* display: flex;
    justify-content: center; */
    padding: 30px;
}
.faq-title{
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 0px;
}
.faq-title:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.accordtion{
    padding: 50px 80px;
    background-color: #240a51;
    box-shadow: -45px -50px 45px #240a51;
}
.accordtion-body{
    margin-bottom: 40px;
}
.accordion-btn{
    width: 100%;
    background-color: #363da4;
    border-radius: 0px;
    color: white;
}
.accordion-btn:hover,.accordion-btn:focus{
    box-shadow: none;

}
.fa-question-circle{
    float: right;
    color: white;
    padding-top: 5px;
}
.card{
    border-radius: 0px;
    background-color: #363da4;
    color: white;
    border-top: 1px solid white;
    padding: 20px 70px;
}
#alert{
   color: red;
    font-size: 15px;
    font-weight: 300;
    padding: 0px;
}
