.news-header {
    background-color: black;
    width: 100%;
    padding: 24px 0;
    position: relative;
    height: 74px;
    overflow: hidden;
}

.news-title {
    position: absolute;
    color: white;
    background-color: #ffb320;
    width: 29%;
    top: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-top: 24px;
    height: 100%;
    padding-right: 66px;
    overflow: hidden;
}

.news-ticker {
    width: 71%;
    float: right;
    overflow: hidden;
}

.marquee-wrapper {
    width: 10000px;
    transform: translateX(0px);
    animation: 13.1034s linear 0s infinite normal none running marqueeAnimation;
}

@keyframes marqueeAnimation {
    100% {
        transform: translateX(-1551.2px);
    }
}

.news-ticker-contant .news-item {
    margin-right: 35px;
    color: white;
    display: inline-block;
    overflow: hidden;
}

.news-item span {
    margin-right: 35px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 4px 20px;
}

.New {
    background-color: #ff205f;
}

.strategy {
    background-color: #4eae60;
}

.Latest {
    background-color: #694eae;
}

.contact_bg {
    background-image: url(/assets/contact.webp);
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    height: 499px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.notes {
    width: 100%;
    left: 0%;
    /* bottom:10%; */
    margin-top: 218px;
    margin-bottom: auto;
    position: absolute;
    margin-left: 50px;
    color: white;
}

.bg-imgtext {
    color: white;
    left: 0;
    bottom: 0;
    padding-top: 218px;
    padding-bottom: 40px;
}

.contact-heading {
    color: white;
    left: 0;
    bottom: 0;
}

input {
    width: 100%;
    height: 41px;
    border: 1px solid #d6dee7;
    padding-left: 22px;
    padding-right: 45px;
    font-size: 12px;
    margin-bottom: 24px;

}

.textarea-message {
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 38px;
    padding-left: 22px;
    padding-right: 45px;
    font-size: 12px;

}

button {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #131313;
    padding: 16px 30px;
    min-width: 153px;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    background: #ffb320;
    cursor: pointer;
}

.section {
    padding-top: 97px;
    padding-bottom: 97px;
}

@media screen and (max-width:768px) {
    .bg-imgtext {
        padding-top: 312px;
    }

    .news-title {
        font-size: 13px;
        padding-right: 23px;
    }
}

@media screen and (max-width:500px) {
    .news-title {
        display: none;
    }
}


/* @media screen and (max-width:354px) {
    .bg-imgtext {
        padding-top: 50px;
    }
} */