<div class="bg-img">
    <div class="form1" method="post">
        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="title">RESIGSTER</h1>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="enter your firstName here.." id="firstName"
                        name="firstName" [(ngModel)]="firstname" (ngModelChange)="validateFirstName($event)" required>
                    <div *ngIf="!isFirstNameValid && myForm.controls['firstName'].touched" class="alert alert-danger">
                        First Name is required and must contain only letters.
                    </div>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" placeholder="enter Your lastName here.." id="lastName" name="lastName"
                        class="form-control" [(ngModel)]="lastname" (ngModelChange)="validateLastName($event)" required>
                    <div *ngIf="!isLastNameValid && myForm.controls['lastName'].touched" class="alert alert-danger">
                        Last Name is required and must contain only letters.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group gender-row">
                    <div class="form-control">
                         <input type="radio" name="gender" class="male" value="male" [(ngModel)]="gender">male
                        <input type="radio" name="gender" class="female" value="female" [(ngModel)]="gender">female
                    </div>
                </div>
                <div class="col-md-6 form-group  mt-3 mt-md-0 ">
                    <input type="date" id="dob" name="dob" [(ngModel)]="date" required [max]="maxDate"
                        class="form-control input_bg">
                    <div *ngIf="date && calculateAge(date) < 5" class="alert alert-danger">
                        Age must be greater than or equal to 5 years.
                    </div>
                </div>
            </div>
            <!-- <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="enter Your email" required>
              </div> -->
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="enter your email here.." required>
                    <div
                        *ngIf="myForm.controls['email'].touched && myForm.controls['email'].dirty && myForm.controls['email'].errors?.['required']">
                        Email is required.
                </p>
                    <p *ngIf="!myForm.controls['email'].errors?.['required'] && !validateEmail(email)" id="alert">
                        Invalid email format.
                    </p>

                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="text" name="uname" class="form-control res-group" value="" [(ngModel)]="username"
                        class="form-control" placeholder="enter your username" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="password" name="pwd" class="form-control res-group" value="" [(ngModel)]="password"
                        class="form-control" placeholder="enter your password" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="password" class="form-control res-group" name="confirmPassword" id="confirmPassword" value=""
                        [(ngModel)]="confirmPassword" placeholder="confirm your password" required>
                        <p
                        *ngIf="myForm.controls['confirmPassword'].touched && myForm.controls['confirmPassword'].dirty && myForm.controls['confirmPassword'].errors?.['required']" id="alert">
                         conform password is required.
                </p>
                </div>

            </div>
            <button type="button" [disabled]="!myForm.valid" [class.enabled]="myForm.valid" class="btn btn-primary" (click)="add()">REGISTER
            </button>
        </form>
        <div style="text-align: center;">
            <span>
                <a routerLink="/">
                    <font color="black">already have an account?</font>
                </a>
            </span>
        </div>

        <!-- </div> -->
    </div>