    input[type="date"] {
        color: rgb(215, 203, 203);
        font-weight: 100;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .bg-img {
        background-image: url(/assets/3513217.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .title {
        font-family: 'Open Sans';
        font-size: 40px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .form1 {
        text-align: left;
        background-color: #363da4;
        border-radius: 20px;
        padding: 20px;
        margin-top: 30px;
        width: 80%;
        margin: auto;
    }

    .form p {
        color: white;
        margin-bottom: 10px;
    }

    .form-control {
        margin-bottom: 18px;
        background-color: #363da4;
        color: white;
        border-radius: 80px;
        border: 3px solid #4085cb;
    }

    .form-control::placeholder {
        color: rgb(215, 203, 203);
        font-weight: 100;
    }

    .form1 .form-group {
        padding-bottom: 8px;
    }

    .gender {
        color: rgb(215, 203, 203);
        font-weight: 100;
        margin-left: 10px;
    }

    .gender-row {
        margin-left: 0px;
    }

    .male {
        margin-left: 10px;
    }

    .female {
        margin-left: 20px;
    }
#alert{
    color: red;
    margin: 0;
    padding: 0;
    font-size: 15px;
}


    .btn {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #200b5094;
        padding: 10px 20px;
        border-radius: 35px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s;
    }

    .bg-img a {
        color: white;
        text-align: center;
        display: block;
    }

    a:hover {
        text-decoration: none;
    }

    @media screen and (max-width:900px) {
        .borders {
            box-shadow: none;
        }

        .res_img {
            height: 100vh;
        }

        .input_bg {
            width: 100%;
            padding: 10px;
            margin-left: 10px;
        }

    }

    @media screen and (max-width:768px) {
        .res_img {
            display: none;
        }

        .bg-img {
            height: 815px;
        }

        /* .borders {
        border: none;
    } */

        h4 {
            font-size: 20px;
        }

        /* .col {
        width: 100%;
    } */

        /* .form {
        width: 100vw;
        height: 100vw;
    } */
    }

    