<div class="container-fluild">
    <button><a routerLink="/home">
      <font color="black">BACK</font>
    </a></button>
<div class="container">
    <h1>Guess the Number Game</h1>
    <div class="game-container" [ngClass]="{'game-over': gameOver}" [@feedbackAnimation]="feedbackState">
      <p class="instruction" *ngIf="!gameOver">Guess a number between {{min}} and {{max}}</p>
      <input class="guess-input" type="number" [(ngModel)]="guess" [disabled]="gameOver">
      <button class="check-button" (click)="checkGuess()" [disabled]="gameOver">Check</button>
      <button class="reset-button" (click)="resetGame()">Reset</button>
      <p class="message" *ngIf="message">{{message}}</p>
      <p *ngIf="gameOver">Score: {{score}}</p>
    </div>
    <div class="options-container">
      <label>Difficulty Level:</label>
      <select [(ngModel)]="max">
        <option value="10">Easy</option>
        <option value="20">Medium</option>
        <option value="30">Hard</option>
      </select>
    </div>
  </div>
  </div>