
<!-- <div class="container-fluild">
    <div class="games">
    <div class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="bg-imgtext">
                        <h1>Game reviews</h1>
                        <p>Exploding Kittens is a beloved game among families with children of all ages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluild">
    <div class="reveiewgame-bg">
        <div class="section"></div>
        <div class="container">
            <div class="recentgame-title">
                <span class="cata New">New</span>
                <h3 class="heading-color">Recent Games</h3>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/card"><img src="./assets/cards.webp" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Random cards</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
              
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/memorygame"><img src="./assets/memorygame.jpg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">memorygame</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/tic-toe"><img src="./assets/tic-toe1.png" width="100%" height="400"
                            class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Tic-toe-tac</h5>
                        <p> This classic game contributes to kids' skills in problem solving, spatial reasoning</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a routerLink="/chess"><img src="./assets/randomno.webp" width="100%" height="400"
                                class="border"></a>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star is-fade"></i>
                        </div>
                        <div class="reveiew-message">
                            <h5 class="heading-color">Random numbers</h5>
                            <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                        </div>
                    </div>
                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/RPS"><img src="./assets/image/rps.png" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Rock paper scissors</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>

                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/sudoku"><img src="./assets/image/sudoku.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Sudoku</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
            </div>
            
                
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a routerLink="/whack-a-mole"><img src="./assets/image/whackAmole.jpeg" width="100%" height="400"
                                class="border"></a>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star is-fade"></i>
                        </div>
                        <div class="reveiew-message">
                            <h5 class="heading-color">Whack-a-Mole</h5>
                            <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                        </div>
                    </div>
                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/wordsearch"><img src="./assets/image/wordsearch.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">words-to-find</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>

                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="review-rating">
                        <a routerLink="/connectfour"><img src="./assets/image/connectfour.jpeg" width="100%" height="400" class="border"></a>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">connect Four</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/killthebirds"><img src="./assets/image/killthebirds.jpg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">kill the birds</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
              
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/towerofhanoi"><img src="./assets/image/towerofhanoi.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Tower-of-Hanoi</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/stackcube"><img src="./assets/image/stackcube.jpeg" width="100%" height="400"
                            class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Stack Cube</h5>
                        <p> This classic game contributes to kids' skills in problem solving, spatial reasoning</p>
                    </div>
                </div>
            </div>

         

            </div>
        </div>
    </div> -->
 
        <div class="games">
            <div class="first">
                <div class="content">
                <h1>GameWarrior is the best gaming studio for all games</h1>
                <p>Are you ready to embark on an epic gaming adventure? Join us at GameWarrior and experience the thrill of gaming like never before. Whether you're a seasoned veteran or a newcomer to the world of gaming, there's a place for you in our ever-expanding universe. Together, let's push the boundaries of what's possible and create the future of gaming, one epic adventure at a time.
                </p>
            </div>
        </div>
        <div class="second">
            <h1>Latest Games</h1>
            <div class="row">
                <div class="card">
                    <a routerLink="/card"><img src="./assets/card1.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-message">
                        <h2 class="heading-color">Random cards</h2>
                        <h6>British domino players call dominoes “cards,” may itself be the ancestor of card games</h6>
                    </div>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                </div>
                <div class="card">
                    <a routerLink="/memorygame"><img src="./assets/memory2.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-message">
                        <h2 class="heading-color">memorygame</h2>
                        <h6>jessy call This memory game has kept me entertained for hours. The beautiful graphics keep me coming back for more. Highly recommended for anyone looking to sharpen their memory skills while having fun!</h6>
                    </div>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                </div>
                <div class="card">
                    <a routerLink="/tic-toe"><img src="./assets/tic3.jpeg" width="100%" height="400"
                        class="border"></a>
                        <div class="review-message">
                            <h2 class="heading-color">Tic-Tac-Toe</h2>
                            <h6> Devil call Tic Tac Toe brings back memories of childhood fun. Perfect for quick matches with friends or sharpening your strategy skills solo.</h6>
                        </div>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star is-fade"></i>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <a routerLink="/chess"><img src="./assets/randomno.webp" width="100%" height="400"
                        class="border"></a>
                        <div class="review-message">
                            <h2 class="heading-color">Random numbers</h2>
                            <h6>This random number game has me hooked! Can't stop playing until I crack the code!</h6>
                        </div>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                            
                        </div>
                </div>
                <div class="card">
                    <a routerLink="/RPS"><img src="./assets/image/rps.png" width="100%" height="400" class="border"></a>
                     <div class="review-message">
                        <h2 class="heading-color">Rock paper scissors</h2>
                        <h6>British domino players call dominoes “cards,” may itself be the ancestor of card games</h6>
                    </div>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                </div>
                <div class="card">
                    <a routerLink="/sudoku"><img src="./assets/image/sudoku.jpeg" width="100%" height="400" class="border"></a>
                   <div class="review-message">
                        <h2 class="heading-color">Sudoku</h2>
                        <h6>British domino players call dominoes “cards,” may itself be the ancestor of card games</h6>
                    </div> 
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <a routerLink="/whack-a-mole"><img src="./assets/whack7.jpg" width="100%" height="400"
                        class="border"></a>
                
                <div class="review-message">
                    <h2 class="heading-color">Whack-a-Mole</h2>
                    <h6> A timeless classic that's as addictive as it is satisfying! Test your reflexes and aim as you bash those mischievous moles back into their holes. Guaranteed fun for all ages!</h6>
                </div>
                <div class="review-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                </div>
                <div class="card">
                    <a routerLink="/wordsearch"><img src="./assets/word8.png" width="100%" height="400" class="border"></a>
                    
                    <div class="review-message">
                        <h2 class="heading-color">Word Puzzle</h2>
                        <h6> This word puzzle game keeps my mind sharp and entertained for hours on end. A perfect blend of fun and brain-teasing, it's become my go-to game for a quick mental workout. </h6>
                    </div>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
                <div class="card">
                    <a routerLink="/guessthenumber"><img src="./assets/image/guess.jpg" width="100%" height="400" class="border"></a>
                     
                    <div class="review-message">
                        <h2 class="heading-color">gues The number</h2>
                        <h6>British domino players call dominoes “cards,” may itself be the ancestor of card games</h6>
                    </div>
                      
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
        