<div class="container-fluild">
    <div class="news-header ">
        <div class="news-title">Latest News</div>
        <div class="news-ticker">
            <div class="marquee-wrapper">
                <div>
                    <div class="news-ticker-contant">
                        <div class="news-item">
                            <span class="New">New</span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div class="news-item">
                            <span class="strategy">strategy</span>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </div>
                        <div class="news-item">
                            <span class="Latest">Latest</span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluild">
    <div class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="bg-imgtext">
                        <h1>Game reviews</h1>
                        <p>Exploding Kittens is a beloved game among families with children of all ages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluild">
    <div class="reveiewgame-bg">
        <div class="section"></div>
        <div class="container">
            <div class="recentgame-title">
                <span class="cata New">New</span>
                <h3 class="heading-color">Recent Games</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/card"><img src="./assets/cards.webp" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Random cards</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
              
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/memorygame"><img src="./assets/memorygame.jpg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">memorygame</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/tic-toe"><img src="./assets/tic-toe1.png" width="100%" height="400"
                            class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Tic-toe-tac</h5>
                        <p> This classic game contributes to kids' skills in problem solving, spatial reasoning</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a routerLink="/chess"><img src="./assets/randomno.webp" width="100%" height="400"
                                class="border"></a>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star is-fade"></i>
                        </div>
                        <div class="reveiew-message">
                            <h5 class="heading-color">Random numbers</h5>
                            <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                        </div>
                    </div>
                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/RPS"><img src="./assets/image/rps.png" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Rock paper scissors</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>

                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/sudoku"><img src="./assets/image/sudoku.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">Sudoku</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
            </div>
            
                
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a routerLink="/whack-a-mole"><img src="./assets/image/whackAmole.jpeg" width="100%" height="400"
                                class="border"></a>
                        <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star is-fade"></i>
                        </div>
                        <div class="reveiew-message">
                            <h5 class="heading-color">Whack-a-Mole</h5>
                            <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                        </div>
                    </div>
                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a routerLink="/wordsearch"><img src="./assets/image/wordsearch.jpeg" width="100%" height="400" class="border"></a>
                    <div class="review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">words-to-find</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>

                    
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="review-rating">
                        <a routerLink="/guessthenumber"><img src="./assets/image/guess.jpg" width="100%" height="400" class="border"></a>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star is-fade"></i>
                    </div>
                    <div class="reveiew-message">
                        <h5 class="heading-color">gues The number</h5>
                        <p>British domino players call dominoes “cards,” may itself be the ancestor of card games</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>