<div class="container-fluid">

    <div class="container">
    
    
    
        <form action="post" #myForm="ngForm" (ngSubmit)="onSubmit()">
          
            <div class="row">
              <img src="./assets/img.png" height="400" width="300">
                <div class="col">
    
                    <h3 class="title">payment</h3>
    
                    <div class="inputBox">
                        <span>cards accepted :</span>
                        <img src="./assets/card_img.png" alt="">
                    </div>
                    <div class="inputBox">
                        <span>name on card :</span>
                        <input type="text" placeholder="enter your card name" id="card" name="cardName" [(ngModel)]="cardName" (ngModelChange)="validatecardName($event)" required>
                        <div *ngIf="myForm.controls['cardName'].touched">
                            <div *ngIf="myForm.controls['cardName'].errors?.['required']">Credit card name is required.</div>
                            <div *ngIf="!iscardNameValid">Credit card name must contain only letters</div>
                        </div>
                      
                    </div>
                    <div class="inputBox">
                        <span>credit card number :</span>
                        <input type="number" id="cardnum" name="cardnum" placeholder="1111-2222-3333-4444" [(ngModel)]="cardNumber" (ngModelChange)="validatecardnum($event)" required>
                        <div *ngIf="myForm.controls['cardnum'].touched">
                            <div *ngIf="myForm.controls['cardnum'].errors?.['required']">Credit card number is required.</div>
                            <div *ngIf="!iscardnumvalid">Invalid credit card number. Please enter a 16-digit number.</div>
                          </div>
                    </div>
                    <div class="inputBox">
                        <span>exp month :</span>
                        <input type="number" placeholder="01-12" id="expiryMonth" name="expiryMonth" ngModel min="1" max="12" required>
        <div *ngIf="myForm.controls['expiryMonth'].touched && myForm.controls['expiryMonth'].dirty">
          <div *ngIf="myForm.controls['expiryMonth'].errors?.['required']">Expiry month is required.</div>
          <div *ngIf="myForm.controls['expiryMonth'].errors?.['min'] || myForm.controls['expiryMonth'].errors?.['max']">Invalid expiry month. Please enter a month between 1 and 12.</div>
        </div>
                    </div>
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>exp year :</span>
                            <input type="text" placeholder="2024" name="expiryYear" [(ngModel)]="expiryYear" required>
                            <div *ngIf="(myForm.controls['expiryYear'].dirty || myForm.controls['expiryYear'].touched)">
                              <div *ngIf="myForm.controls['expiryYear'].errors?.['required']">
                                Expiry year is required.
                              </div>
                              <div *ngIf="expiryYear !== '' && !isValidExpiryYear()">
                                Invalid expiry year.
                              </div>
                            </div>
                        </div>
    
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="123" name="cvv" [(ngModel)]="cvv" required>
    
                            <div *ngIf=" (myForm.controls['cvv'].dirty || myForm.controls['cvv'].touched)">
                                <div *ngIf="myForm.controls['cvv'].errors?.['required']">
                                  CVV is required.
                                </div>
                                <div *ngIf="!validateCVV(cvv)">
                                  Invalid CVV. It should be a 3-digit number.
                                </div>
                              </div>
                            
                        </div>
                    </div>
    
                </div>
        
            </div>
    
            <button type="submit" [disabled]="!myForm.valid"  [class.enabled]="myForm.valid" value="proceed to checkout" >Sumit</button>
    
        </form>
    </div>
    </div>
    
        
    