
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.container-fluid{
  background-image: url(/assets/3513217.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 150px 0px;
  margin: auto;
  text-align: center;
}
.content{
  display: flex;
  justify-content: center;
 
}
.title{
  width: 20%;
  padding-top: 110px;
  margin-left:16% ;

}
.title h1{
  font-variant: small-caps;
  font-weight: 600;
  color:#b1a0e5;
  transition: .5s;
}
.title p{
  color: white;
  font-variant: normal;
  font-weight: 200;
}

.title h1:hover {
  color: #d1c7f1; 
  text-shadow: 0 0 4px #c5748e;
}
/* Style for the button */
/* .pay-now-button {
  background-color:#7a2e9b; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
} */
.pay-now-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #200b50fa;
  padding: 15px 30px;
  border-radius: 35px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 20px;
}

.pay-now-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  border: none;
}
i {
  color: white;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
  width: 200px;
  border: 2px solid white;
  padding: 0px 35px 0px 20px;
  border-radius: 50%;
}

/* Style for the success message container */
.success-message {
  text-align: center;
  background-color:#363da4 ;
  border-radius: 20px;
  background-size: cover;
  width: 50%;
}

/* Style for the success message */
.success-message h1 {
  color: white; 
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}
.success-message h1:nth-child(2){
  margin-bottom: 20px;
}
/* Optional: Add animation for the success message */
.success-message h1 {
  animation-name: fadeInUp;
  animation-duration: 8s;
}
i {
  animation-name: fadeInUp;
  animation-duration: 8s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 991px) {
  .success-message{
    width: 60%;
  }
  .container-fluid{
    padding: 150px 0px 80px 0px;
  }
  .title{
    width: 50%;
    padding-top: 60px;

  }
}
@media screen and (max-width: 768px) {
  .pay-now-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .success-message h1 {
    font-size: 20px;
  }
  .success-message{
    width: 80%;
  }
  .container-fluid{
    padding:86px 0px 70px 0px ;
  }
  .title h1{
    font-size: 30px;
  }
  .title{
    margin:auto;
  }
}
@media screen and (max-width: 750px) {
  .success-message{
    margin-top: 40px;
  }}
  @media screen and (max-width: 480px){
    i {
    
      font-size: 60px;
      line-height: 96px;
      padding: 0px 28px 0px 20px;
    
  }
  .success-message{
    padding-top: 20px;
  }
  .success-message h1{
    font-size: 18px;
    font-weight: 400;
  }
  .container-fluid{
    padding: 110px 0px 80px 0px;
  }
  .title h1{
    font-size: 25px;
    font-weight: 400;
  }
  .title P{
    font-size: 16px;

  }
  
  }
