
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.container-fluid{
  background-image: url(/assets/3513217.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 100px 0px;
  margin: auto;
  display: flex;
  justify-content: center;
}
/* Style for the button */
.pay-now-button {
  background-color:#7a2e9b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
  width: 200px;
  border: 2px solid green;
  padding: 0px 35px 0px 20px;
  border-radius: 50%;
}

/* Style for the success message container */
.success-message {
  text-align: center;
  background-color: white; 
  background-size: cover;
  width: 50%;
}

/* Style for the success message */
.success-message h1 {
  color: #4caf50; /* Green */
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

/* Optional: Add animation for the success message */
.success-message h1 {
  animation-name: fadeInUp;
  animation-duration: 8s;
}
i {
  animation-name: fadeInUp;
  animation-duration: 8s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .pay-now-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .success-message h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 750px) {
  .success-message{
    margin-top: 40px;
  }
}