
.container-fluid{
  background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("/assets/profile_back.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btnback{
  padding: 0px;
  display: inline-block;
  border-radius:50%;
  background-color: white;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
}
.btnback .fa-arrow-circle-left{
  font-size: 40px;


}
.profile{
  padding: auto;
}
.profile-form{
  background-color: rgba(0,0,0,0.50);
  width: 75%;
  margin: auto;
  padding: 20px;
}
.profile-form input{
  background-color: black;
  min-width: 50px;
}


.row{
  color: white;
}
.tableformat {
  border: 0;
  width: 100%;
  border-bottom: 3px solid grey;
  padding: 5px;
  outline: 0;
  color: white;


}
.button{
      margin: auto;
      display: flex;
      flex-direction: row;
    }   
    
.btncss{
  padding: 15px 25px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px #eee;
  border: none;
  border-radius: 10px;
  width: auto;
  min-width: 100px;
  max-width: 300px  ;
}
.btnupdate {
  background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49  51%, #3CA55C  100%);
}

.btnupdate:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

         
.btndelete {
  background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
  
}

.btndelete:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


/* @media screen and (max-width:"1000px") {
  .row{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
} */