.container-fluid {
  background-size: cover;
    text-align: center;
    background-image: url('../../assets/image.png');
    background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
  }
 
  .tt{
    color: whitesmoke;
    position: relative;
    top: 20%;
    /* padding-top: 130px;
    margin-bottom: 20px; */
    
  }
  .grid {
    display:flex;
    justify-content: center;
    position: absolute;
  top: 50%;
  left: 5%;
  background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust for different puzzle sizes */
    gap: 5px;
  }
  .button{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 7%;
    width: 10%;
    /* margin-top: 25px; */
    border: 4px solid #8685aa;
    background-color: #2a2325;
    color: #cccc;
    text-shadow: #8685aa;
    font-family: cursive;
  }
  .tile {
    width: 100px;
    height:100px;
    background-color:#2a2325;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #ccc;
    cursor: pointer;
    font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .tile.empty {
    background-color: white;
  }
  .puzzle-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  