
<div>
<div class="container">

  <!-- <div class="grid">
     <div *ngFor="let tile of tiles; let i = index" class="tile" [class.empty]="tile === 0" (click)="moveTile(i)">
       {{ tile === 0 ? '' : tile }}
     </div>
   </div>*/-->
   <h3  class="tt" title="you have to set all the numbers in grid like this:
   1 2 3                                            
   4 5 6
   7 8">Thinking how to play🤔<h1 title="you have to set all the numbers in grid like this:
 1 2 3                                            
 4 5 6
 7 8" >🫵🏃👇</h1> </h3>
   <div class="grid">
     <div    *ngFor="let tile of tiles; let i = index" class="tile" (click)="moveTile(i)">
       {{ tile === 0 ? '' : tile }}
     </div>
   </div>
   
   <button class="button" (click)="shuffle()">Shuffle</button>
 
 
 </div>
 </div>