
<div class="word-search-game">
   <p class="title">words to find</p>
  <button class="back-btn" routerLink="/games"> <i class='fas fa-arrow-circle-left'></i></button>
    <div class="grid">
      <div class="grid-row" *ngFor="let row of grid; let i = index">
        <div class="grid-cell" 
        *ngFor="let letter of row; let j = index"
             [class.selected]="isSelected(i, j)"
             (click)="selectLetter(i, j)"
             (mouseclick)="selectLetter(i, j)" [ngClass]="{'.highlighted': isLetterHighlighted(i,j)}">
          {{ letter }}
          
        </div>
      </div>
    </div>
    <div class="words-to-find">
      <div class="find">
      <p class="find-title">Word:</p>
      <ul>
        <li *ngFor="let word of wordsToFind" [class.found]="foundWords.has(word)">{{ word }}</li>
      </ul>
    </div>
      <div><p><i class='fas fa-clock'></i>{{ timer }}</p></div>
      <div *ngIf="isGameWon && timer < totalTime" class="game-over">Congratulations! You found all the words in {{ timer }} seconds!</div>
      <div *ngIf="!isGameWon && timer >= totalTime" class="game-over">Time's up! You did not find all the words in time.</div>
    </div>
    <button (click)="resetGame()" class="reset-button">Reset Game</button>
  </div>
  
  