

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.container-fluid{
    text-align: center;
}
.tic{
    padding-top: 100px;
    background: url('/assets/tic_back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.btnback{
    border-radius: 50%;
    color: white;
    background-color: rgb(235, 221, 221);
    float: left;
    padding: 15px;
    top: 30%;
    left: 25%;
    position: absolute;
  }
  
 
  .btnback a{
    list-style: none;
    color: rgb(18, 14, 14);
    font-size: 30px;
    font-weight: bold;
  }
  .btnback:hover{
    background-color: rgb(164, 121, 203);
   
  }
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: 0px 0px 4px 0px #100202;
 
}

.box {

    border: 2px solid black;
    background-color: rgb(217, 239, 246);
    color: white;
    text-shadow: 0 0 5px black, 0 0 20px #fff, 0 0 7px rgb(58, 46, 169), 0 0 14px rgb(58, 46, 169), 0 0 8px rgb(58, 46, 169), 0 0 0px rgb(58, 46, 169), 0 0 7px rgb(58, 46, 169);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 100%;
}

p {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', cursive;
}

#turn {
    font-size: 20px;
    text-shadow: 0 0px #ffa500,
        0 0 0px #ffa500,
        0 0 0px #ffa500,
        0 0 0px #ffa500,
        0 0 4px #ff0000,
        0 0 0px #ff8d00,
        0 0 1px #ff0000;
    color: #fff6a9;
}

.white {
    color: skyblue;
}

.pink {
    background-color: rgb(175, 106, 191);
}

.green {
    color: #262626;
    font-size: 40px;
    text-shadow: 3px 2px #cd9ec7;
}

         
.reset {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    padding: 10px 20px;
    margin: 50px 0px 50px 0px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 20px;
  }

  .reset:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }



@media screen and(max-width:300px) {
    .board {
        width: 100vw;
        height: 100vw
    }
}