<div class="container-fluid">
  <div class="memory-game">
  <button class="btnback"><a routerLink="/games"><i class="fa fa-angle-left" aria-hidden="true"></i></a></button>

  <h1>Memory Game</h1>
  <div class="timer">{{ formatTime() }} </div>
  <div class="grid">
    <div *ngFor="let card of cards; let i = index" class="card" [class.flipped]="card.flipped || card.matched"
      (click)="flipCard(i)">
      <div class="front"></div>
      <div class="back">{{ card.value }}</div>
    </div>
  </div>
  <button (click)="resetGame()">Reset Game</button>
  
</div>
</div>